/*Your CSS should have styles for each of the following elements:
   * Body
     * font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     * color: '#777'
     * background: '#777'
     * width: '960px'
     * font-size: '18px'
   * Header, Nav, Section, Aside, and Footer
     * background: '#ebebeb'
   * Article
     * color: '#ebebeb',
     * background: '#777'
   * h1 and p
     * color: '#777',
     * background: '#ebebeb'
3. The widths of each section should be:
   * section: 495px */
body {
     background: #777;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     color: #777;
     font-size: 18px;
     width: 960px;
     margin: 0 auto;
     margin-top: 10px;
}
 header, nav {
     background: #ebebeb;
     text-align: center;
     padding: 30px;
     margin: 10px;
}
 section, aside {
     background: #ebebeb;
     text-align: center;
     height: 300px;
     margin: 10px;
     display: inline-block;
}
 section {
     float: left;
     width: 495px;
}
 aside {
     float: right;
     width: 425px;
}
 article {
     background: #777;
     color: #ebebeb;
     padding: 20px;
     border: solid #ebebeb 10px;
     margin: 0px;
}
 h1, p {
     background: #ebebeb;
     color: #777;
     padding: 20px 0px 20px 0px;
     margin: 10px 0px 10px 0px;
}
 footer {
     background: #ebebeb;
     clear: both;
     padding: 30px;
     text-align: center;
     margin: 10px;
}
